.App
  text-align: center

a
  text-decoration: none
  color: $greyscale-1
  transition: color ease-in 0.2s

  &:hover
    color: rgba($greyscale-1, 0.7)

h1,
h2,
h3
  color: $brand-color

.container
  max-width: 1360px
  margin: 0 auto
  position: relative

.shadow-box	
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		//background: rgba($black, .4)
		+gradient-vertical(rgba(#000,.8), rgba(#000,0), 10%, 50%)

.btn
	background: $primary
	color: $white
	border: 2px solid $primary
	padding: 5px 10px
	cursor: pointer
	+font-size($txt-small, $line-height)
	+transition(all, .8s)

	&:hover
		color: $primary
		border: 2px solid $primary
		background: transparent
		+transition(all, .8s)

	&:disabled
		color: $grey
		border: 2px solid $grey
		background: rgba($primary, 0.1)

.intro-content
	padding-top: 25px
	padding-bottom: 25px
	margin: 0 auto
	text-align: center

blockquote
	p
		font-size: 32px	

.quote-content
	padding: 50px 20px 50px
	max-width: 800px
	margin: 0 auto

	p
		margin: 0

.quotation
	text-align: center
	position: relative

	p
		font-size: 26px
		line-height: 1.1
		position: relative

		&:before,
		&:after
			font-family: $font-awesome
			display: block
			text-align: center
			width: 40px
			height: auto
			margin: 0 auto

		&:before
			content: $quote-left
			margin: 0 auto 15px

		&:after
			content: $quote-right
			margin: 30px auto 0

.slick-initialized .slick-slide
	padding-top: 30px
	padding-bottom: 
	
	.quote-item
		height: 420px

	.yellow
		background: $yellow

	.gray
		background: $grey-mid

	.green
		background: $green

.carousel-container
	.slick-next,
	.slick-prev
		top: 58%

	.slick-next
		right: 5px

	.slick-prev
		left: 5px
		z-index: 1

	.slick-dots
		bottom: 15px
		z-index: 1

		li button:before
			font-size: 12px

/**** BOXES ****/

.box
	display: block
	white-space: nowrap
	width: 100%
	overflow: hidden
	position: relative
	vertical-align: middle
	background: 50% 50% no-repeat
	+bg-size

	&:after
		content: ''
		display: inline-block
		vertical-align: inherit
		width: 0
		height: 0
		overflow: hidden
		padding: 100% 0 0

.box-text
	display: block
	white-space: nowrap
	width: 100%
	overflow: hidden
	position: relative
	vertical-align: middle
	background: 50% 50% no-repeat
	background-color: $grey-mid
	+bg-size	

	.box-content
		padding: 30px $horizontal-padding-small

.text-container
	order: 2

.box-content
	padding: 30px 10px
	width: 100%
	position: relative
	white-space: normal
	//z-index: 3
	display: inline-block
	vertical-align: middle
	+box-sizing
	
	.h1
		margin: 0 0 25px 0

	p
		margin: 0 0 40px 0

.callout-list
	display: block
	width: 100%
	position: relative

	&:hover
		.text-box
			opacity: 1
			bottom: -100px
			+transition(all, .8)

.callout-box
	text-align: center
	margin-bottom: $gutter-small
	
	h2
		font-size: 30px
		font-weight: 700
		color: $white

.shadow-box-full	
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba($black, .4)
		+transition(all, .8s)

.callout-content
	margin: 30px 0		

.white-content
	h2
		color: $secondary

.form-container,
form,
	display: flex
	flex: 1
	flex-direction: column

.right-content
	display: flex
	flex: 1
	align-items: center
	padding: 40px 20px
	background: rgba($primary, 0.3)

.text-input
	display: flex
	flex: 1
	flex-direction: column
	margin-bottom: 20px

	input,
	textarea
		padding: 7px 10px
		border: 0

		&.has-error
			border: 1px solid $red
			background: rgba($red, 0.3)

.error-message
	color: $red
	margin: 0

+addMediaQuery("only screen and (min-width:" + $min-site-width-large + ")")	

	.callout-box
		margin-bottom: $gutter-medium
	
		h2
			font-size: 30px

+addMediaQuery("only screen and (min-width:" + $min-site-width-large + ")")

	.btn
		padding: 10px 20px
		+font-size($txt-body, $line-height)

	.intro-content
		padding: 40px 0
		max-width: 600px
		
	.quote-content
		padding: 100px 0 70px

	.slick-initialized .slick-slide
		.quote-item
			height: 400px

	.carousel-container
		.slick-next
			right: 25px

		.slick-prev
			left: 25px

	.text-container
		order: 1		

	.box-text
		display: block
		white-space: nowrap
		width: 100%
		overflow: hidden
		position: relative
		vertical-align: middle
		background: 50% 50% no-repeat
		background-color: $grey-mid
		+bg-size

		&:after
			content: ''
			display: inline-block
			vertical-align: inherit
			width: 0
			height: 0
			overflow: hidden
			padding: 100% 0 0

		.box-content
			padding: 30px $horizontal-padding-large

	.white-content
		padding: 60px $horizontal-padding-large

	.box-width-left
		max-width: 660px
		margin: 0 0 0 auto

	.box-content
		padding: 30px
	
		p
			margin: 0 0 40px 0

	.image-container
		order: 2

		.box
			position: unset

	.callout-box
		margin-bottom: 0

	.callout-content
		margin: 30px auto

	.callout-list
		margin-bottom: 20px	
